[2014-09-23 08:11] Serhioromano opened #1 "Requirment for bootstrap"
The angular UI bootstrap works without bootstrap.js and jQuery.js

How possible it is to use this wrapper without bootstrap.js and jQuery.js? Can we use only CSS to style popups and angular to show them? Just like dropdowns in angular-ui-bootstrap?

[2014-11-17 22:25] mrgauthier opened #2 "Demo"
Any chance of getting a demo put on here?  I've followed your directions and everything seems to be loaded, but not getting any tour pop ups.  Also not seeing the tour object getting created in my scope.  Would be cool to see in it's entirety how you have it set up to work.

[2014-11-30 20:15] #2 closed, assigned to nobody

[2014-12-12 16:00] bixibu opened #3 "Step config only through directives ?"
Hi

Is there a possible way to handle steps tour with JS instead of directives ? Like the standard bootstrap-tour ? :
[code]

In my module-driven angular app, adding directives all over my templates is not an option . I need a dedicated and separated module for that.

Thanks for this module anyway

[2014-12-29 14:31] klmdb opened #4 "option attribute name collision"
It might be usefull to require the tour options to be prefixed with 'bs-tour-' to avoid attribute collisions.

[2014-12-29 20:24] suriyagp opened #5 "How to give url to maintain the flow of the tour"
can give the path="url-to-go" as attribute inside the tag? where we are specifiying the tour order.

Is possible to specify the path like the above???

[2015-01-05 19:41] benmarch commented on #4
Added this functionality to 0.3.0.

Use TourConfigProvider in you app's config block and set `prefixOptions` to `true` (see the readme for more info.) I used your suggestion of bsTour (will be bs-tour- as an attribute) as the default prefix if it is enabled.

[2015-01-05 19:41] #4 closed

[2015-01-05 19:54] benmarch commented on #5
I have added this functionality to 0.3.0.

To use it you will specify either a nextPath or prevPath (or both) and a nextStep or prevStep. For example:

[code]

[code]

When you start the tour on page 1, the tour will load up step 1 first. When you click next it will navigate to '/view2' and load up step 2. When you click next on step 2 it will navigate back to view1 and load up step 3. Notice step

[2015-01-05 19:54] #5 closed

[2015-01-05 19:57] benmarch commented on #1
I haven't forgotten about this issue, I'm just trying to determine a good approach to solving the problem :)

[2015-01-06 09:41] capic opened #6 "How to autostart the tour ?"
Hi, is it possible to autostart (depends to a condition) a tour without clicking on a button ?
Thanks

[2015-01-06 15:19] Serhioromano commented on #1
I am also not forgotten it and still waiting for a solution.

[2015-01-19 05:32] suriyagp opened #7 "Page doesn't get scroll if place the popup for the element at the bottom of the page"
A page contian several steps few things are place at the top or in middle. And two steps are placed at the bottom but On that particular step the page is not get scrolled it ramins at the top. But it works fine in bootstrap tour.

Is there any solution for this??

[2015-01-20 15:35] benmarch commented on #7
Interesting, can you supply an example?

[2015-01-21 07:48] suriyagp commented on #7
sure.. will provide a plnkr or fiddle link

[2015-01-24 10:02] suriyagp commented on #7
is any file is added for to make that scrollable???
i added dependencies  bootstrap-tour.js, angular-tour.js but the scroll is not working

[2015-01-28 03:06] benmarch commented on #7
Hey sorry for the delay... you shouldn't have to add any dependencies, but I don't think I can debug it without an example.

[2015-01-28 03:19] benmarch commented on #3
I don't think this use case fits the plugin. Closing.

[2015-01-28 03:19] #3 closed

[2015-01-28 03:22] benmarch commented on #6
Hey sorry for the delay... this can be done in a controller by interacting with the tour object on the scope when the controller loads. Would it be helpful to have an attribute that will evaluate to a boolean and start if true? I think that would be the only alternative.

[2015-01-29 01:01] benmarch commented on #1
Ok, I think I'm going to create a new plugin that is built specifically for Angular UI Bootstrap instead of the original jQuery-based Bootstrap. I'll keep the interface the same, but it won't require bootstrap.js or jquery; however, it will require angular-ui-bootstrap.js because I'm not going to redo some the fantastic work that they have done. I'm not sure what the timeframe will be, but I'll tr

[2015-01-29 02:09] Serhioromano commented on #1
That is ok. Anyone who use twitter bootstrap with angular use angular-ui-bootstrap anyway.

[2015-01-29 21:44] HerbCaudill opened #8 "template-url attribute shown in example doesn't work"
As far as I can tell, there's no reference in either angular-bootstrap-tour.js or bootstrap-tour.js to this attribute. I'd love it if this did work, though!

[2015-01-29 22:16] HerbCaudill commented on #8
Never mind. This is supported. (I'm using $templateCache and was referencing the full URL path to the template instead of just the filename.)

[2015-01-29 22:16] #8 closed

[2015-02-27 16:08] Bezmundo opened #9 "Element - Step Options not working"
I'm trying to get the the div containing the tour directive to get the popover to show over another html element.
It just seems to ignore the element setting.

<code>
"tour-step element="#element" order="1" title="Tour start" content="Welcome to the tour" placement="bottom"
</code>

Is there anyway for the popover to display over another element?

[2015-02-27 16:15] benmarch commented on #9
The way it is set up, the popover will display on the element that has the tourStep directive on it. Is there a reason the tourStep cannot be on `#element`?

[2015-02-27 16:22] Bezmundo commented on #9
The reason it can't be on the element direct is because the tour is in a separate Partial view from the navigation. (Its a c# mcv app you see)

[2015-02-27 16:59] benmarch commented on #9
We have a similar architecture where we are using it, but we were able to put the tourSteps in each of the partials that needed them. I understand that this is a separation of concerns issue, but we were comfortable breaking the practice in this case. Unfortunately, this plugin will not accept a different element to display the popover on, and since I am working on rewriting it without jQuery I do

[2015-03-02 10:37] Bezmundo commented on #9
Thats fair enough, do other methods such as addStep been implemented?

[2015-03-02 15:03] Bezmundo opened #10 "Ignores step in bootstrap modal"
When I have a step inside a modal it seems to skip this step and continues to the next step on the page. I have the bootstrap opened via a jquery call. However if you have the modal opened before the tour start then it continues that step.

I've tried delaying the on-next function while the modal opens but that doesn't seem to work, any ideas?

[2015-03-02 16:08] benmarch commented on #10
Hmm, try wrapping your modal open call in a [$scope.$apply()](https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$apply) function. My guess is that it gets skipped because the tour step is hidden when it is supposed to show.

[2015-03-02 16:10] benmarch commented on #9
You can hack at by calling addStep() on the controller, but this plugin was designed to be declarative. Once you start using an imperative paradigm, it might make sense to use [Bootstrap Tour](http://www.bootstraptour.com).

[2015-03-02 16:10] #9 closed

[2015-03-02 17:11] Bezmundo commented on #10
I've tried that with no success. If you have a step two tour with one on the main body and then have another step in a modal, the next button isn't an option. It doesn't seem to see the next step at all if its in a modal. Also if there's another step after the modal it just skips straight to that.

I've looked at the tour in console log and it does display the modal steps but just completely ignor

[2015-03-02 17:19] benmarch commented on #10
Ah ok, try adding skip="false" to the modal step, this should force it not to skip.

[2015-03-02 17:38] Bezmundo commented on #10
Was about to try that but just noticed its not actually displaying the modal step in the array.

[2015-03-02 17:41] benmarch commented on #10
Yeah it reevaluates the steps every time a step is displayed and regenerates the array. Is the modal step in the DOM before it's displayed or is it added dynamically? If it's in the DOM then it should still let the controller know that it shouldn't be skipped.

[2015-03-02 17:44] Bezmundo commented on #10
No its not added dynamically and it is in the html markup. Its just ignoring it completely. I will try and make an example now so you can see it in action

[2015-03-02 18:15] Bezmundo commented on #10
http://codepen.io/anon/pen/bNjGav   heres an example

[2015-03-04 19:04] benmarch commented on #10
Ah ok thank you for the example, I see the problem. Should be a quick fix, I will have it ready in the next couple days.

[2015-03-04 21:19] benmarch commented on #10
Ok it should be working now in version 0.3.1. I forked your example to show how it works: http://codepen.io/anon/pen/wBxXwV

Just use the availableWhenHidden="true" option and use onShow and onHide to open and close the modal. Let me know how it goes!

[2015-03-10 05:42] ll2585 commented on #6
Can you give an example of this? Thanks!

[2015-03-10 14:23] adibalcan opened #11 ""template-url" attr doesn't run"
I have a template-url attr on my body (where is tour attribute) and:
[code]

and output is:

[code]

[2015-03-13 14:31] benmarch commented on #11
My apologies, this is an oversight. This won't make an $http request for the template, it will just look it up in the template cache. I have a quick fix for it, but it will require some testing. I will get it fixed as soon as possible.

[2015-03-13 14:39] benmarch commented on #6
Something like this should work:

[code]
[code]

[2015-03-15 18:52] klmdb opened #12 "ng-click inside template"
Hi,

I'm using template-url as an attribute for tour-step to link an inline  template. The template has a button with ng-click="test()". test() is defined on the scope where tour-step is created. Clicking the test button doesn't execute test() though.
I think the scope's get confused somehow, but I can't find a way around it. Any ideas?

[2015-03-19 22:23] alphanumericone opened #13 "Multiple Tours"
I see you can add a name to a tour, and Bootstrap Tour's documentation states this.
I don't see how you add steps to a specific tour and also don't see how you start a specific tour.

[2015-03-19 22:39] alphanumericone opened #14 "Duration"
Duration only seems to work on the tour, not the tour-step.

Scenario is... I want some steps to just move you along, but other require deliberate action.

[2015-03-19 23:01] benmarch commented on #11
Ok this should be resolved now in 0.3.2. Let me know if it still isn't working.

[2015-03-19 23:01] #11 closed

[2015-03-19 23:06] benmarch commented on #12
I have a feeling it isn't getting compiled properly, I just committed a fix but it isn't tested. I will release an alpha version if you want to try it out.

[2015-03-19 23:10] benmarch commented on #12
Version 0.3.3-alpha.1 is available.

[2015-03-19 23:14] benmarch commented on #13
You can add a name with the option on tour directive, but I am not sure what it will do (I haven't used it.) You can create multiple tours by using multiple tour directives, and the tour steps will add themselves to the closest parent tour. Each tour will assign itself to $scope.tour, so if you nest tours then then it will depend on how far down the scope you are when you call $scope.tour.start().

[2015-03-19 23:15] benmarch commented on #14
Should be all set in 0.3.2, you can now use duration on the tour step. Let me know if there is still an issue.

[2015-03-19 23:15] #14 closed

[2015-03-20 03:10] #10 closed

[2015-04-28 18:54] korya opened #15 "ng-route dependency is redundant"
Does the package really depend on `ng-route`?

As I can see `ng-route` is required just for the demo app. If that's the case, why not moving `ng-route` to dev-deps?

[2015-04-29 21:17] korya opened #16 "Rename `stepId` to `id`"
Currently, the value of `tour-step` attribute is assigned to `step.stepId` (https://github.com/benmarch/angular-bootstrap-tour/blob/ff18966e4ede35f952517fee34f7dd73afa7a467/app/tour_step_directive.js#L18). As far as I understand this `stepId` property is used internally to identify steps (https://github.com/benmarch/angular-bootstrap-tour/blob/e1f6134598c1324c3149b52f99b80f131c2cd8cd/app/tour_cont

[2015-05-13 08:46] no-more commented on #1
Hello,

Great job, is the jquery free release already available ?

[2015-05-13 14:23] benmarch commented on #15
Sorry for the long delay, I will look into this. Thanks!

[2015-05-13 14:34] benmarch commented on #16
Yeah I'm not sure why I went with stepId over id, it's not my usual style. My guess is that I was trying to avoid collisions with the original plugin. Would you mind making the change and creating a pull request?

[2015-05-13 14:37] benmarch commented on #1
Unfortunately it is not; I have been slammed with other projects for months and it doesn't look like I will be able to really get it going until after July 7th.

[2015-05-22 10:59] TineBepunkt opened #18 "Tour Element is not generated when starting the tour on click"
When starting the tour by clicking on a button, there is a tour and a tour step object, but the markup for it is not generated on the page, thus I don't see any popovers. Does anybody had the same troubles and could help?

[2015-05-29 10:21] aendrew commented on #6
Confirming the above suggestion works.

[2015-05-29 10:59] aendrew opened #20 "Skip doesn't work in ng-repeat"
Hi!

I'm trying to put a tour step on an item inside a ng-repeat, and just noticed the "skip" option doesn't work — I'm guessing because ng-repeat creates its own child scope. Using 0.3.2 btw.

[2015-05-29 11:28] aendrew commented on #20
Super weird — the `steps` array isn't populating with any of the steps inside the repeater, but they're still appearing in the tour...

[2015-06-01 15:10] benmarch commented on #18
Can you post the relevant markup and JS code? If that all looks good then the issue could be with BST instead of the angular code around it. There are some quirks around scopes with this component though, so that could be the issue.

[2015-06-01 17:49] benmarch commented on #20
Interesting, I haven't tried to put a tour step on a ngRepeat. Can you paste the markup here so I can take a look?

[2015-06-16 00:52] erickne opened #21 "Backdrop is not working"
Already added bakdrop configuration, but it's not working.

    TourConfigProvider.set('backdrop',true);

[2015-06-16 01:47] benmarch commented on #21
I probably should have named the provider slightly differently; it's not actually for configuring the Tour object, it's for configuring this plugin. To get the backdrop working just specify it on the tour element:
[code]

[2015-06-16 01:59] erickne commented on #21
Worked, Thank! Keep up the good job!

[2015-06-16 01:59] #21 closed

[2015-06-21 16:07] NetanelBasal opened #22 "Scope tour does not bind to controller as syntax"
I cant bind tour to my controller i get undefined. why this is happen?

[code]

[code]

[2015-06-21 16:15] NetanelBasal commented on #22
I removed from the tour directive the scope: true, and it works, you have an idea why?

[2015-06-21 16:33] benmarch commented on #22
If the FeedController is outside the tour in the DOM then this would be caused by "scope: true" creating an inherited scope from FeedController (FeedController -> Tour). So when you try to access the tour property it's actually defined on the inner scope so you cant see it from the FeedController scope. If FeedController is inside then I would have to investigate a little more. Try moving FeedCont

[2015-06-21 16:36] NetanelBasal commented on #22
The tour directive is inside the feed controller and only when i removed
the scope true its working.
On 21 Jun 2015 19:33, "benmarch" <notifications@github.com> wrote:

[2015-06-21 16:37] benmarch commented on #22
Sorry typo, try moving it to the *outside*, it won't require you to remove scope: true.

[2015-06-21 16:39] NetanelBasal commented on #22
I will try and let you know thanks.
On 21 Jun 2015 19:37, "benmarch" <notifications@github.com> wrote:

[2015-06-21 16:42] benmarch commented on #22
Cool. Actually that wasnt a typo (I'm a bit distracted atm) the FeedController should be inside the tour if possible.

[2015-06-23 15:10] bartvanderwal opened #23 "A tour-step does not put itself on scope"
Hi! Great project! Very helpful.

A thing I'm missing is that the `tour-step` directive doesn't put 'itself' on the scope in the `link` function. You ARE doing this in the `tour` directive (see [ln 47]([`tour` directive](https://github.com/benmarch/angular-bootstrap-tour/blob/master/app/tour_directive.js) )):
[code]
Could you add a similar thing in the `tour_step`? (e.g. [here](https://github.com/

[2015-06-23 16:27] NetanelBasal commented on #22
When i did this like you say:

[code]

It is works but i get this error now:
$element.popover is not a function

[2015-06-23 16:32] benmarch commented on #22
`<div tour orphan="true" storage="false" on-end="feed.onTourEnd(tour)">`

`feed` won't be defined here. Not sure if that is causing the problem, but it might be related. I recommend creating a controller for your tour ("MyTourController") and you can register the event handlers in there:

[code]
You might even be able to put the ng-controller on the tour div so you don't have to create more markup

[2015-06-23 16:33] NetanelBasal commented on #22
Ok i will try now thanks
On 23 Jun 2015 19:32, "benmarch" <notifications@github.com> wrote:

[2015-06-23 16:36] benmarch commented on #23
Sounds pretty cool, I'd like to check it out when it's done (if it's open sourced). I don't see how it could hurt to add the step to the scope, but I would appreciate a PR since I don't know when I will be able to get to it. It can definitely be in the Angular-UI version.

[2015-06-23 19:50] NetanelBasal commented on #22
Cool all works well, my problem was that i does not include the bootstrap js and i added the standalone version and your suggestion fixed the first issue, thanks a lot for your help!

[2015-06-23 19:50] #22 closed

[2015-07-08 00:48] cklemming commented on #1
+1 for requesting the JQuery-free version.

[2015-07-12 20:19] bartvanderwal commented on #23
Hey @benmarch, I did a pull request. Can you see it? :)

Pull and close this issue?

[2015-07-12 20:22] benmarch commented on #23
Hey Bart, sorry for the delay, I did see it but I was away on vacation and couldn't review it. I'll take a look now and comment in the PR.

[2015-07-12 21:48] benmarch commented on #23
Merged PR #25 and released 0.3.3

[2015-07-12 21:48] #23 closed

[2015-07-21 14:49] bartvanderwal commented on #13
I also would like to be able to have two tours, of which steps are mixed in the DOM.

I understand it complicates things a bit, but we could add an explicit 'inTour' attribute to the tourStep directive which indicates in which tour it belongs. This way you can solve any ambiguity.

[2015-07-23 13:35] benmarch commented on #13
That would be a nice feature, but it would require some refactoring. I'll admit I've been lazy the past couple weeks (I was supposed to start on the jQuery-free version last weekend) but I will consider this feature in that version. Actually, I will start a feature request issue to track suggestions, feel free to comment on it once it is created.

[2015-07-23 13:38] benmarch opened #27 "New feature requests in jQuery-free version (let's call it 2.0)"
Please comment with suggested features for version 2.0 which will primarily be a rewrite to exclude the jQuery dependency that exists in the current version. Just leave a very brief description of a feature you would like to see, and once I get a prototype into GH I can convert it into its own issue.

[2015-09-01 08:19] Dioude opened #28 "Ending opened tour when i switch page/redirection"
Hello,
i'm having a small problem, i have set my tour to start automatically when i enter a certain page/controller, but when i go to another page/controller with the tour opened, it doesn't close. And i can't close it manually anymore.

Maybe i've set it all wrong from the begining, i got a hidden button with ng-click="tour.restart(true)" which is clicked in my controller.

How can i make it clos

[2015-09-09 01:12] benmarch commented on #28
Hey @Dioude sorry for the delayed response... in the controller that automatically opens the tour, try adding the following snippet (will depend on how you are actually navigating):

    $scope.$on('$destroy', function () {
        $scope.tour.end();
    });

If that doesn't do it, please explain how you have set up your navigation and I can try to assist further.

[2015-09-23 17:24] HeadwayLabs opened #29 "onStart and onEnd not working?"
I am trying to call a function in my controller on an element wit a tour using

on-end="end(tour)"

[code]

But I cant get it to work. I can use onShow, OnNext, OnHide etc, but not onEnd and start for some reason.

Any help would be appreciated.

Thanks

[2015-09-23 19:37] benmarch commented on #29
I believe this is due to Angular's multi-element directives feature that look for attribute and element names ending with "start" and "end". Try changing it to `on-end-end="end(tour)"`.

[2015-09-23 21:26] HeadwayLabs commented on #29
I tried this but no luck. I am expecting it to fire when I click the end tour button on any step. Is this correct?

[2015-09-23 21:31] #6 closed

[2015-09-23 21:49] benmarch commented on #29
I tested this locally and it should just be `on-end="end(tour)"`, sorry for the confusion (for onStart you have to use on-start-start). It looks like it is working as expected, the function I created does fire when I click the "End Tour" button. Can you paste some markup and controller code here so I can take a look? My best guess is that your end function is not in scope.

[2015-10-05 00:32] fpernia opened #30 "grunt error"
When I try to execute the project with the instructions of MD file, specifically when I execute "grunt" I get this error:

Running "jshint:all" (jshint) task

   Gruntfile.js
     99 |        bower_main: {
         ^ Identifier 'bower_main' is not in camel case.
   app\tour_controller.js
    118 |            tour = new Tour(options);
                                ^ 'Tour' is not defined.

Warnin

[2015-10-05 17:23] fpernia commented on #30
![screenshot_2](https://cloud.githubusercontent.com/assets/12814610/10288000/1529fd48-6b60-11e5-9ccd-cb32012289dd.png)

[2015-10-05 17:25] benmarch commented on #30
Good catch, I'll be able to fix that pretty quickly this evening. Thanks!

[2015-10-05 17:42] fpernia commented on #30
@benmarch Thanks for your time. I'll be aware :)

[2015-10-12 14:10] maximelebreton commented on #3
+1
or add ```true``` and ```false``` argument to enable/disable the ```tour-step``` directive, because in a **```ng-repeat```** there is no simple ways to add a conditional step...
The only ways are:
- a js declaration based on a class like the @jscti example
- or a ```ng-attr-tour-step="condition ? true : false"```

[2015-10-12 14:15] benmarch commented on #3
@maximelebreton you can use the "skip" attribute to enable/disable a tour step:

    <div tour-step skip="conditional">...</div>

The conditional will be tested on every digest, and the "Previous" and "Next" buttons are smart enough to know what the next enabled step should be.

[2015-10-12 14:30] maximelebreton commented on #3
great!
i can't find this suggestion in the readme, can you update it?

thanks @benmarch, and great job!

[2015-10-12 14:35] benmarch commented on #3
It's under the TourStep Directive section: https://github.com/benmarch/angular-bootstrap-tour#tourstep-directive. Good luck!

[2015-10-12 16:13] maximelebreton opened #31 "Orphan mode does'nt work..."
i cant get the .orphan class on the popover

here is a part of my code:
[code]

and in the rendered html, no orphan class...
![image](https://cloud.githubusercontent.com/assets/1072425/10432599/784a894a-710c-11e5-8068-d04a68b1d79f.png)

thanks!

[2015-10-16 10:54] dchidrup commented on #8
@HerbCaudill Can you please explain with an example of this? We are stuck here. Please help!!!

[2015-10-19 16:24] piernik opened #32 "Is this project maintained?"
In bower I see that this project depens on angular 1.2 ans bootstrap-tour 0.9.3 so it's rather old.
Is it maintained?

[2015-10-20 14:03] #30 closed

[2015-10-20 14:05] benmarch commented on #32
I am only fixing some bugs that pop up, and ideally I would just merge PR's. The plan is to drop this and replace it with a jQuery-free version... I just have to find the time.

[2015-10-20 14:05] #32 closed

[2015-10-20 14:05] benmarch commented on #29
Any update on this?

[2015-10-21 15:54] benmarch commented on #31
Hey @maximelebreton sorry for the delay, does the popover display as an orphan without the class or is that feature completely broken?

[2015-10-27 16:14] fpernia opened #33 "How can I add more than one step to a same element?"
How can I add more than one step to a same element?

[2015-10-27 16:14] fpernia opened #34 "More than one step to a same element"
How can I add more than one step to a same element?

[2015-10-27 16:38] benmarch commented on #34
It is not possible, but you can nest a step just inside another, or put two steps right next to each other. As long as the dimensions are the similar and the edges line up then the popover should appear in the same place.

[2015-10-27 16:38] #34 closed

[2015-11-02 05:33] Prasadambulkar3 opened #35 "Angular Bootstrap tour 'end tour' when clicked stops the tour for good"
I have a tour currently running on my site, but it doesn't seem to actually keep track of if the user has clicked End Tour. Meaning that if they click it once, it ends the tour, but then when they revisit the page
the tour will automatically start again.

[2015-11-02 15:22] benmarch commented on #35
Can you paste your tour config here? Just the element with the tour directive on it is good.

[2015-11-03 04:56] Prasadambulkar3 commented on #35
Using same tour config in repository

[2015-11-03 05:25] benmarch commented on #35
If you are referring to the config in the demo then remove the storage="false" attribute from the tour element. Setting it to false tells it not to keep track of tour position.

[2015-11-03 05:35] Prasadambulkar3 commented on #35
I removed it but when I click on "End Tour" it stops the tour and when I clicked on next button it stops the tour and start again and after revisit the same page where I clicked on "End Tour" in case of multipage it opens the tour again from last stopped position.

[2015-11-03 15:49] benmarch commented on #35
I think I may have misunderstood what you are trying to do. Are you trying to prevent users from seeing the tour more than once? If that is the case, you will have to keep track of that in your application. This is a limitation of the underlying library [Bootstrap Tour](http://www.bootstraptour.com) that is used to power this one. When the tour is ended, save some state in your app that is checked

[2015-11-04 04:09] Prasadambulkar3 commented on #35
I have implemented this tour for multipage, if on some page I click on end tour button tour ends.But when revisit that page tour opens again without performing any action.

[2015-11-04 05:05] benmarch commented on #35
Ohh ok i understand. I can try to reproduce this but it would be much easier if you could paste some of your code here. Specifically, the tour config, the trigger for starting the tour, and the tour step that takes you to the second page. If you can provide that information for me I will use it to debug the issue.

[2015-11-04 05:21] Prasadambulkar3 commented on #35
<body ng-controller="MainController as main" class="{{$state.current.data.specialClass}}" tour on-end="onTourEnd(tour)" landing-scrollspy id="page-top">
<a ng-click="tour.restart(true)">
     <i class="fa fa-plane"></i>
</a>

for first page:
 <div class="" tour-step="msgBlaster" placement="bottom" title="msgBlaster" content="Welcome to msgBlaster." order="0" next-path="app/contacts" next-step="gro

[2015-11-04 05:30] benmarch commented on #35
Cool, thank you, I will play around with this and get back to you.

[2015-11-11 16:44] wald-tq commented on #1
are there any news?

[2015-11-11 17:28] benmarch commented on #1
Yes, I have tried a couple different approaches including rewriting Bootstrap Tour entirely, but because they keep coming out with new features I decided it wasn't work trying to keep up. So ultimately, I have to find a way to do this while still using the existing Bootstrap Tour. The only way that I can think of is to replace jQuery with a stub that only implements the features that they use. I h

[2015-11-11 17:47] wald-tq commented on #1
Thanks for the response.

My app is a angular app. And we are looking to integrate a kind of a tour / onboarding experience. I think a valid option would be to just have the tour part separately from the core application.

So we could also use vanilla bootstrap tour (One teammember has already experience with it).

Do you see any downside to this other than loading time / size?

[2015-11-11 18:00] benmarch commented on #1
The loading time is definitely a downside, especially if you aren't using jQuery in your core app. But if you can bundle up all the code into one dependency then at least it will be easy to swap out when there is a better option available (hopefully this plugin). I think that's probably a decent interim solution.

[2015-11-24 15:42] swrocket commented on #20
Did you ever resolve this issue? I have the same scenario

[2015-11-24 15:58] swrocket commented on #20
so, after some head banging, I decided to use ng-if to choose if to render a div with or without the tour step. Here is my code..

    <div class="col col-sm-6 col-md-4 col-lg-3 small-pad" ng-repeat="activity in getSortedActivities('dueDate')" >
      <div ng-if="$index === 0" class="panel panel-default nav-panel"
           tour-step="" order="2" placement="top"
           title="You next activit

[2015-11-24 17:16] aendrew commented on #20
@swrocket @benmarch Apologies for not checking back! I think I solved the issue by refactoring the ng-repeats I had so that the row with all the tour popovers was outside the ng-repeat. So, the issue's still there AFAIK.

[2015-11-24 17:24] swrocket commented on #20
No worries, this was an old post.
Glad you found a solution

[2015-11-24 17:25] benmarch commented on #20
@swrocket did you use ngIf instead of skip? Did that result in the expected behavior or is it still buggy?

[2015-11-24 17:27] swrocket commented on #20
@benmarch I used ng-if. You can see my code above.
My solution works, but it's a brute force hack really.
I tried passing a hard value to skip (skip="{{$index>0}}") so that it's not trying to read a value from the scope, but that didn't work either.

[2015-11-24 17:39] benmarch commented on #20
@swrocket thank you for the additional info, I will look into it. My best guess is that it is related to the scope inheritance, and my next version of the plugin will use scope: false for tour steps to avoid these issues.

[2015-11-24 17:40] swrocket commented on #20
Looking forward to the next version :)
Now to try to fake the tour to navigate to another state (ui-router) after the last step on a page.

[2015-11-25 22:02] vvillasoto opened #36 "Call tour.start() from controller"
The tour is not initializing automatically by itself even with *storage="false"*. And I do not want the tour to start from a button's *ng-click* function, but I would like it to be called immediately from within my controller.

I want to call **tour.start() from within my module controller** inside an init() function called every 60 seconds.
[code]
But I cant get it to work.

Any help would be app

[2015-11-29 20:38] benmarch commented on #36
Check to see if $scope.tour is available, if your controller is declared outside of the tour declaration then it will not be available. In the initTour function wrap everything with `if ($scope.tour) { ... }`.

If that isn't the issue, try using `tour.restart(true)` or maybe even `tour.start(true)` to force it to start.

[2015-11-29 20:47] benmarch commented on #1
Hey everyone, I am very excited to show you the jQuery-free version of the tour! Check it out: https://github.com/benmarch/angular-ui-tour

It is a work in progress, and the only release is a dev release so that I can get some feedback from all of you. I intentionally created a new repo so that I can continue to support the jQuery version.

Thank you all for your patience and supporting this plugi

[2015-11-29 20:47] #1 closed

[2015-12-15 10:13] valerypilyavets opened #37 "template-url option not working"
Without `template-url` everything works great, but when I'm trying to add this option I'm getting a jquery error:

`Uncaught TypeError: Cannot read property 'ownerDocument' of undefined`

[2015-12-15 16:24] benmarch commented on #37
Interesting, I haven't seen this error before. Can you paste in some relevant markup?

[2015-12-15 16:30] esoyke commented on #20
@swrocket Thanks, that helped me big time, thought I was going crazy until I saw someone with the same problem.

@benmarch Could indeed be a scoping issue. I put some debugging logs in your code and `stepIsSkipped()` is recognizing skipped steps in my ng-repeat, and summarily removing them from the array. Likewise the watcher immediately following that in the code is triggered for each element whi

[2015-12-15 16:40] esoyke commented on #20
@benmarch On a whim I tried changing your watcher code to use rootScope (and injected $rootScope into that directive):
   `skipWatch = $rootScope.$watch(stepIsSkipped, function (skip) {`

Fixed the problem. Not sure if rootScope is the most elegant solution, I often feel like I'm cheating somehow when I use it, but it works. I'm not certain why this fixed it, as the watcher code still doesn't appe

[2015-12-15 17:13] valerypilyavets commented on #37
Well, markup is very simple. The html part is:
[code]
`components/tour.html` is accessible, and successfully loaded via AJAX, I can see it in developer tools.

jquery version is `1.11.1` (I already tried `1.9.0` and `1.11.3`)
angular version is `1.4.0` (and it's not easy to change it, I think)

Error appears after `tour.restart(true)` is triggered. The message I have in console:
[code]

[2015-12-15 17:34] esoyke opened #38 "Not supporting the element attribute?"
I want to highlight a nested element, is this possible? I am using angular datatables in my app and want to highlight the search input.

`<table id="myTable" datatable="ng" ...`

Datatables names this search input (tablename)_filter, so in bootstrap-tour I was able to highlight this input (I'm using backdrop) by configuring the step with what I knew the element's name would be:

`element: "#myTabl

[2015-12-15 17:39] benmarch commented on #20
@esoyke Thank you for the insight. I got side-tracked with the Angular UI version while fixing this issue, so this will give me a good place to start again.

[2015-12-15 17:46] aendrew commented on #20
@benmarch @esoyke — while I'm still subscribed to this issue, if you want a path around using $rootScope, maybe try the new controllerAs syntax? I found it helped with quite a lot of scoping issues in one of the larger apps I've been building.

[2015-12-15 19:35] benmarch commented on #38
Right, with Bootstrap Tour you can do an imperative selection on the tour steps which is more inline with how jQuery works, but Angular prefers a declarative approach to selection via directives. I think we could add a feature that would allow you to select a descendant of the tour-step element, but I would first look into adding a tour-step to the element that you actually want to highlight (if m

[2015-12-15 19:48] benmarch commented on #37
Is it making the request for the template, or is the template loaded into $templateCache already? Can you paste the template here?

[2015-12-15 20:07] valerypilyavets commented on #37
It makes a request for template when page is loading. So, when tour is triggered, it is already in $templateCache. I can to get it with `$templateCache.get('components/tour.html')`.

The template code is the same as the default bootstrap tour tempate
[code]

[2015-12-15 22:29] benmarch commented on #37
I'm not sure if this is the problem, but you have a dangling </nav> tag at the bottom. It looks very similar to the one I'm using in production right now, and the setup is identical, so I'm a little surprised it's not working (unless that is causing a parse error). If that _doesn't_ fix it, can you try setting a breakpoint in the TourHelpers where it loads the template and just see if the template

[2015-12-21 10:53] dipteeR opened #39 "template-url is not working"
when I am adding new template its not working. I am getting error as 'elem.cloneNode is not a function' is not function. My template is very similar which you are using.

    <div class='popover tour'>
      <div class='arrow'></div>
      <h3 class='popover-title'></h3>
      <div class='popover-content'></div>
      <div class='popover-navigation'>
        <button class='btn btn-default' data-ro

[2015-12-25 15:54] valerypilyavets commented on #37
Breakpoint information:
[code]

So I think it is loaded

[2015-12-30 07:26] dipteeR opened #40 "apply tour-step to ng-repeat"
Hi ,

I am showing multiple div using ng-repeat. I want to show tooltip for my first div only. Is there any way,
( Please note I do want to apply for my all div. Just first div only)

[2016-01-04 20:52] benmarch commented on #37
I'm still not really sure what would cause this. The line that is failing is `$template.clone().wrap("<div>").parent().html()`, and $template is just `$(step.template)`. I would recommend setting a breakpoint around that line (bootstrap-tour-standalone.js#1049) and stepping into the jquery clone function. It looks like when it gets to #contains() the context is undefined, but I'm not familiar enou

[2016-01-04 20:57] benmarch commented on #39
Can you paste in the stack trace of the "elem.cloneNode is not a function" error?

[2016-01-04 20:58] benmarch commented on #40
It seems that there is an issue with the way that "skip" works in ngRepeat at the moment. I am looking into it though: #20

[2016-01-04 20:58] #40 closed

[2016-01-04 20:59] benmarch commented on #7
Open for a year with no response from OP, closing...

[2016-01-04 20:59] #7 closed

[2016-01-04 21:00] benmarch commented on #12
No response from OP, closing...

[2016-01-04 21:00] #12 closed

[2016-01-04 21:06] #15 closed

[2016-01-04 21:19] benmarch commented on #39
Try updating to version 0.3.4-rc.2 and let me know if that works for you.

[2016-01-04 21:19] benmarch commented on #37
Actually, @valerypilyavets, can you try updating to version 0.3.4-rc.2 and let me know if that works for you?

[2016-01-04 21:20] #38 closed

[2016-01-04 21:20] benmarch commented on #36
Any update @vvillasoto?

[2016-01-04 21:24] benmarch commented on #33
Hey @fpernia, sorry I never responded to you (I thought i had, maybe I never submitted my response). Unfortunately there is no way to do that, but you can use a fake element that is position in the same place as the element you want multiple steps. I had to do this in my app actually.

[2016-01-04 21:24] #33 closed

[2016-01-04 21:31] benmarch commented on #16
I am going to leave it the way it is since I don't want there to be any issues; step.id is for Bootstrap Tour, step.stepId is for Angular Bootstrap Tour. Since it isn't public API then I don't think it is worth refactoring.

[2016-01-04 21:31] #16 closed

[2016-01-04 21:32] benmarch commented on #18
No response from OP, closing...

[2016-01-04 21:32] #18 closed

[2016-01-04 21:32] benmarch commented on #27
No one (including myself is using this). Closing...

[2016-01-04 21:32] #27 closed

[2016-01-04 21:33] benmarch commented on #28
Any update @Dioude?

[2016-01-04 21:33] benmarch commented on #29
Any update, @HeadwayLabs?

[2016-01-04 21:34] benmarch commented on #31
Any update, @maximelebreton?

[2016-01-05 06:21] Dioude commented on #28
it works like a charm, thanks !

[2016-01-05 06:21] #28 closed

[2016-01-05 12:46] korya commented on #15
Thanks.

[2016-01-06 16:38] vvillasoto commented on #36
@benmarch I am able to make it work but not by using $scope.tour. This will not be found. I inspected it and found that the tour object is attached to any one of the step elements / or just the container element wherein all the steps can be found within the html. I used angular.element to access it from the controller.

[code]

hope this helps. Let me know if you figure out a better solution.

Tha

[2016-01-06 21:16] benmarch commented on #36
It looks to me like this code is in a controller that is outside of the scope of the tour controller. If you can move this controller code inside of "#section1" then you would be able to access it via `$scope.tour`. You can also improve this by moving the template text into a [template script tag](https://docs.angularjs.org/api/ng/directive/script) and using the template-url attribute on the tour

[2016-01-08 17:13] vvillasoto commented on #36
Thanks for the advice. Will try to improve on it. I think this is resolved :)

[2016-01-08 17:13] #36 closed

[2016-01-08 17:15] vvillasoto opened #41 "Center placement for element step"
Is this possible? I want to just tie the tour step with a container element first and just like to show the step at the center of the element / (or center of screen would be better).

Appreciate the advice.
Vicente

[2016-01-08 18:01] vvillasoto commented on #41
I got the answer.

need to put the step as an orphan and just not put any element with it.

[2016-01-08 18:01] #41 closed

[2016-01-13 00:10] vvillasoto opened #42 "Option to lock controls"
Option to lock controls when tour is on.. (meaning user cannot do anything else but go through the tour)

Is there such an option that can be configured? Possible to include?

Thanks

Kind Regards,
Vicente

[2016-01-14 18:07] benmarch commented on #42
Hi Vicente,

I think that would be possible, but I don't think it would be worth building into this library. You can probably use the onStart and onEnd hooks to implement that sort of functionality in your app. If you would like to implement that in ABT and create a PR, I would gladly consider pulling it in.

Thank you for the suggestion,
Ben

[2016-01-14 18:07] #42 closed

[2016-04-17 02:44] jduprey opened #43 "How to handle steps that are not rendered on tour start?"
I have steps that will not be part of the DOM on tour start.  For example, content (w/ tour-steps) rendered as the results of an async service call, modals that are displayed on next step.  How can I get bs tour to re-check for these steps?

Thank you.

[2016-04-17 15:22] benmarch commented on #43
Hey @jduprey, the steps _should_ automatically be added to the tour once they are linked. Are you experiencing different behavior?

[2016-04-17 22:57] jduprey commented on #43
Yes.:

Here is the step before the modal dialog is opened.  This step asked them to click a button.  Reflex=true should have it advance to the next step, even when I remove it the current step's "next" button is disabled.

Step prior to dialog box:
[code]
on click of the "serried-button", addSeries() opens the modal

[code]

and w/in series-crud.html:

[code]

[2016-04-18 15:58] benmarch commented on #43
Ok it looks like there are two issues: the first is that the current step does not know about the next step when it is shown, so the "Next" button is disabled; and the second is that the navigation is happening before the next step loads. To fix both issues, try setting the "nextPath" and "nextStep" options on the tour step. Set the "nextPath" to the current Angular $location path (or "/" if you a

[2016-04-19 13:29] jduprey commented on #43
Yes.  I came across "Angular UI Tour" yesterday when I was looking for a solution.  Thank you.

[2016-05-27 12:59] priyankabachu opened #44 "I want to change the prev and next to icons how can i change them to icons??"

[2016-05-29 03:58] benmarch commented on #44
Hey @priyankabachu,

In order to change the popover template, you can create a partial and use the template-url option to point to it. Start by copying the template from the [Bootstrap Tour source code](https://github.com/sorich87/bootstrap-tour/blob/master/src/coffee/bootstrap-tour.coffee#L27-L42) and paste it into an HTML file or a text/ng-template script tag. Then on the tour element you can sp

[2016-05-30 08:55] priyankabachu commented on #44
HI @benmarch It worked thank you so much !!!! :) :+1:

[2016-05-30 22:32] benmarch commented on #44
Awesome! I will release that as 0.3.4.

[2016-05-30 22:32] #44 closed

[2016-05-30 22:35] benmarch commented on #39
Should be fixed as of 0.3.4. If not, please let me know. Thanks!

[2016-05-30 22:35] #39 closed

[2016-05-30 22:36] benmarch commented on #37
Should be fixed as of 0.3.4. If not, please let me know. Thanks!

[2016-05-30 22:36] #37 closed

[2016-09-08 20:36] rui7999 opened #45 "starting tour from controller through ng-click is not working"
//This is my controller for fraud-demo, when called it is calling the functions in bootstraptour.js rather than the angualr-bootstrap tour. How can i start the demo tour w.r.t angular-bootstrap tour

     $scope.steps = [
          {
              path:'/app/page1',
              element: "#tour1",
              title: "Title of my step",
              content: "content of the step",

[2016-09-08 22:48] benmarch commented on #45
Hey @rui7999, it looks like you are trying to use Bootstrap Tour directly. If you want to use Angular Bootstrap Tour, you have to add the attributes to the markup. Please see the README for instructions.

[2016-09-08 22:48] #45 closed

[2016-09-08 23:38] rui7999 commented on #45
Yes, i had already seen the Read me file .What you mean to say is i cant start the tour from controller? And i can only pass the attributes in directive only and what about the options do i need to pass every time in the directive?

[2016-09-08 23:39] rui7999 commented on #45
Why can't i start the tour from controller?

[2016-09-09 00:31] benmarch commented on #45
You can start the tour from the controller, check out #36.

The way you have it set up bypasses this library and just uses Bootstrap Tour. If you prefer setting up the tour the way you have it in you code snippit, i have to recommend that you do not use this library since it will just get in the way. You will still be able to use the Bootstrap Tour API within the Angular code in your app. If you a

[2016-09-09 14:20] rui7999 commented on #45
Hmm Thanks for the explanation though, then i will use bootstrap tour itself. My only problem with it is i'm adding my own template and it doesn't work as below, Is there any better way that you know, please

template: "<div ng-include="'app/html'"></div>"

[2016-09-12 19:48] benmarch commented on #45
Hey @rui7999 that probably isn't working because Bootstrap Tour won't compile the template for you. Your best bet might be to compile the template yourself and use it as the template:
[code]

See how I do it here: https://github.com/benmarch/angular-bootstrap-tour/blob/master/app/tour_helpers.js#L36

[2016-12-23 13:18] eliseguimaraes commented on #43
@benmarch I did the next path + next step think using angular-ui-tour, but the "next" button is still hidden. I left 'tour-step-next-path=""', otherwise it would redirect me to a wrong page, and 'tour-ste-next-step="User data"', which is the title of the step inside the modal.

[2017-04-04 13:55] harigna opened #46 "Cannot read property 'extend' of undefined"
By Staring the tour it log this error. plz someone help me.

[2017-04-05 21:14] benmarch commented on #46
Hi @harigna, can you post a full stack trace?

I also _strongly_ recommend using [Angular UI Tour](https://github.com/benmarch/angular-ui-tour) if you can because I am no longer maintaining this version.

[2017-04-23 18:19] alex-p-crest opened #47 "Multiple page tour using bootstrap tour"
I am using angular-bootstrap-tour for the tour feature in my app. It is working fine for the same page but the ordering is not proper when it comes to different pages.

I am using angularjs state provider
first page code

Second Page Code :

When i do next from first page li tag then it is jumping to the same page other order instead of Second page order 2. Please provide some help in this.

[2017-04-24 22:26] benmarch commented on #47
You will have to use the `next-path` and `next-step` attributes to specify the path and ID of the next step. Note that this does not integrate with UI Router. I strongly recommend using [Angular UI Tour](https://github.com/benmarch/angular-ui-tour) instead of this library since it has more features, and I will integrate better with your use case.

[2017-04-25 05:21] alex-p-crest commented on #47
I tried and installed the Angular UI Tour also but there are some issues in configuring it.

In documentation, Tour Configuration

"Tours can be configured either programatically in a config block, or declaratively as part of the uiTour directive declaration.

To configure in a config block, use TourConfigProvider.set(optionName, optionValue);

To configure on a tour declaration, use ui-tour-<opti

[2017-04-25 06:28] alex-p-crest commented on #47
I am using <div ui-view></div>

and when i reload my app it gives me below error.

angular.js:13708 TypeError: e is not a constructor
    at Object.o (http://dayjibefront.localhost.com/bower_components/angular-ui-tour/dist/angular-ui-tour.js:7:26008)
    at Object.invoke (http://dayjibefront.localhost.com/bower_components/angular/angular.min.js:41:376)
    at Object.$get (http://dayjibefront.local

[2017-04-25 08:13] alex-p-crest commented on #47
It was all my mistake.

First i got the optionValue thing (Sorry but i have not read the document properly)
Second the constructor error which is due to hone.js missing

Thanks.

[2017-04-25 10:31] alex-p-crest commented on #47
I have some other issues.

1. When i apply tour-step-backdrop = 'true' is doesn't cover full screen.
2. When i start the tour the popup comes but empty(not positioned correctly) and when i scroll a bit then it adjust and look properly.

see the screen shot

![image](https://cloud.githubusercontent.com/assets/16604636/25381188/66bce7bc-29d0-11e7-91d5-e4e150f69cf6.png)

Please help.

[2017-04-25 14:59] benmarch commented on #47
Hey @alex-p-crest, is this Angular UI Tour, or Angular Bootstrap Tour? If it is Angular UI Tour, can you move your comments over to that repo and close this issue?

Can you also paste in the tour step element markup so I can see all the options you specified, as well as the browser you are using and the version? I have noticed similar issues intermittently on my test environment, so you might be a

[2017-04-25 16:52] alex-p-crest commented on #47
I am using Angular UI Tour. Ok i am moving this thread to other repo.

[2017-12-28 13:11] Aventrue opened #50 "How to use angular-bootstrap-tour with angular 4 and Typescript"
How can I use angular-bootstrap-tour with angular 4 and Typescript.
Normaly I Import third Party Code inside my app.model.ts file like that:

[code]
I do not understand how I can do that with the UI-TOUR plugin.
I'm quite new to angular and typescript, so it would be great to get some help from you!

[2018-01-30 13:38] pgksunilkumar commented on #30
When I Try to execute the Bootstrap Tour in grunt i am getting this error Please Help Me out with this Solution

![image](https://user-images.githubusercontent.com/11393456/35568976-c3c943b8-05f0-11e8-8940-7122ff527af4.png)

[2018-01-30 16:16] pgksunilkumar commented on #30
When I add the window.Tour() its working fine this is the correct solution..?

[code]

[2018-01-30 16:18] benmarch commented on #30
@pgksunilkumar are you running Grunt in your app, or in the Angular Bootstrap Tour source code?

[2018-01-30 18:02] pgksunilkumar commented on #30
Yes I am using the Grunt App

[2018-01-30 19:06] benmarch commented on #30
Ok this appears to be an issue with _your_ JSHint config then. It also looks like you are bypassing this library and trying to use Bootstrap Tour directly. Please see the README for examples.

[2018-02-22 23:02] srbhkumar commented on #50
Hi, did you find a way to do this? I have the same issue.

[2018-03-19 20:18] renerpdev commented on #50
same here